

<h4>To start new game enter name hear</h2>
  <form action="/create" method='POST' />
  	<input type="text" name="new_name" placeholder="Garfield" />
  	<button type="submit" class="btn btn-dark" >LETS GO!</button>	
  </form> 

<h4>To keep playing push the button! <h2>
  <form action="/create" method='POST' />
	<button class="btn btn-dark btn-lg" name="load" >Load</button>
  </form> 
</p>

