<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cat Simulator v1.3</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/application.css">
</head>
<body>
	<nav>
		<p class="icon"></p>
		<ul class="menu">
        <li class="icon"><img src="https://picua.org/images/2019/11/05/edfcc09d3f8792bbb97a1cbf6f66786c.png" alt="edfcc09d3f8792bbb97a1cbf6f66786c.png" border="0" /></li>
     		<li class="menu__item"><a href="/">Main</a></li>
     		<li class="menu__item"><a href="/create">Get a cat</a></li>
     		<li class="menu__item"><a href="/about">About</a></li>    		
  		</ul>
	</nav>
   <%= yield %>
</body>
</html>