<h1><font size="150" color="red" face="Arial">DIED</font></h1>
	<div>
		<p class="died"><%= $p4 %></p>
		<p class="died"><%= $p3 %></p>
		<p class="emoj"><%= $h4 %></p>
		<p class="died">You cat lived <%= $passageOfTime %> turns...</p>
	</div>
	   